.App {
  /* text-align: center; */
  margin: auto;
  border: 5px solid rgba(73,204,249,1.0);
}

.todo-item{
  margin: 20px auto 20px auto;
  width: 500px;
  /* min-height: 600px; */
  padding: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 24px;
  /*border: 5px solid rgba(73,204,249,1.0);*/
}

.checkbox_input{
  width:25px;
  height:25px ;
  position: relative;
  border-radius : 3px;
}